html{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    min-height: 1fr;

    flex-direction: column;
    min-width: 550px;
    min-height: 700px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}
.center-container{
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container, .conversions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    background-color: rgb(105, 67, 255);
    min-width: 550px;
    color: white;
    min-height: 285px;
    font-size: 18px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.03em;
    text-align: center;
    padding: 33px 50px 0px 50px;
    margin: 0px 0px 5px 0px;
}

.user-input{
    border: 2px solid rgb(178, 149, 255);
    background-color: rgb(105, 67, 255);
    min-height: 70px;
    min-width: 117px;
    max-width: 400px;
    max-height: 70px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    font-family: Inter;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
}

.convert-btn{
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin-top: 25px;
    background-color: white;
    color: rgb(61, 61, 61);
    height: 42px;
    width: 117px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 9px 28px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.conversions-container{
    background-color: rgb(244, 244, 244);
    justify-items: center;
    padding: 20px 50px 10px 50px;
    margin: -20px 0px 0px 0px;
}

.length-conversion-container, .volume-conversion-container, .mass-conversion-container{
    background-color: white;
    display: flex;
    color: rgba(90, 83, 123, 1);
    flex-direction: column;
    align-items: center;
    min-width: 550px;
    margin-bottom: 24px;
    padding-bottom: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.results{
    margin: 0;
    color: rgba(53, 53, 53, 1);
    font-weight: 400;
    overflow-wrap: break-word;
    max-width: 500px;
}